.container {
  max-width: 600px;
  border: 1px solid #dadde1;
  padding: 20px;
  margin-top: 50px;
  border-radius: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

form {
  justify-content: center;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  color: #7296d3;
}

p {
  color: #b975a6;
  font-size: 20px;
}

#cel {
  color: #7296d3;
  text-decoration: none;
}

.temp {
  color: #7296d3;
  font-size: 35px;
}

.unit {
  color: blue;
  font-size: 20px;
}
